@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nanum+Gothic|Nanum+Pen+Script|Titillium+Web');

body{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 499;
	background-color: cyan;
	padding: 0;
	margin: 10;
	text-align: center;

}
h1 {
	color: pink;
	font-family: 'Gloria Hallelujah';
	font-size: 38pt;
}
p{
	color: black; 
	font-family: 'Nanum Pen Script'; 
}

a{
	color: purple;
	font-family: 'Nanum Pen Script';
}

table td{
	border-width: : 1px;
	border-color: silver;
